@model AppControlMigracion.Controllers.MOVIMIENTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MOVIMIENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoSolicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoSolicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADOS.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADOS.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIAJEROS.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIAJEROS.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idMovimientoViajero }) |
    @Html.ActionLink("Back to List", "Index")
</p>
