@model IEnumerable<AppControlMigracion.Controllers.DOCUMENTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipoDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaExpiracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIAJEROS.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipoDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaExpiracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIAJEROS.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
